.about {
	background-color: #E8EEF2;
  	overflow: auto;
  	padding: 20px;
}

.aboutInfo {
  	text-align: left;
  	padding: 20px;
}

.aboutInfo h1 {
	margin-top: 0px;
}

.aboutImage {
  	text-align: center;
}

.aboutInfo p {
	margin: 15px 0;
}

.aboutInfo .tag-container {
	background-color: lightgrey;
	border-radius: 2px;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px;
}

@media (max-width: 768px) {
	.aboutInfo {
		padding: 10px 50px;
	}

	.aboutImage {
		padding: 20px 0;
	}

	.about {
		padding: 0px;
	}
}

@media (max-width: 400px) {
	.img-circle {
		padding: 0 50px;
	}
}