.resume {
    overflow: auto;
    padding: 10px 50px;

    hr {
        border-color: darkgrey;
        margin-left: 5px;
        margin-right: 5px;
    }

    div {
        padding: 0;
    }

    h4 {
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .resume-dl {
        padding-top: 20px;
    }
}

@media (max-width: 550px) {
	.resume h4 {
        text-align: center;
    }
}
