.resume {
    overflow: auto;
    padding: 10px 50px;
}

.resume-col hr {
    border-color: darkgrey;
    margin-left: 5px;
    margin-right: 5px;
}

.resume-col p {
    margin-left: 10px;
    margin-right: 10px;
}

.resume div {
    padding: 0;
}

.resume h4 {
    text-align: center;
}

.resume-dl {
    padding-top: 20px;
}