.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 36px;
}
 
.bm-burger-bars {
  background: #373a47;
}
 
.bm-cross {
  background: #bdc3c7;
}
 
.bm-menu {
  background: #373a47;
  font-size: 2em;
  padding-top: 45px;
}
 
.bm-morph-shape {
  fill: #373a47;
}
 
.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    padding: 20px 0px 20px 25px;
    text-align: left;
}

.menu-item a {
    text-decoration: none;
}

.menu-item:hover {
    background-color: #E8EEF2;
}

@media (min-width: 768px) {
  .bm-burger-button {
      display: none;
  }
}