.about {
  background-color: #E8EEF2;
  min-height: 340px;
  padding: 20px;
}

.aboutInfo {
  text-align: left;
  padding: 20px;
}

.aboutImage {
  text-align: center;
}

@media (max-width: 768px) {
  .aboutInfo {
    text-align: center;
  }

  .aboutImage {
    padding: 20px 0 20px 0;
  }

  .about {
    padding: 0px;
  }
}